<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="wrapper">

				<h3 class="text-center name" th:text="#{text.login.titulo}">Sign In!</h3>
		

		<form class="p-3 mt-3" th:action="@{/login}" method="post">

			<!-- Usuario -->
			<div class="form-field d-flex align-items-center">
				<span class="far fa-user"></span> <input type="text" name="username"
					id="username" th:placeholder="#{text.login.username}" autofocus required>
			</div>

			<!-- contraseña -->
			<div class="form-field d-flex align-items-center">
				<span class="fas fa-key"></span> <input type="password"
					name="password" id="password" th:placeholder="#{text.login.password}">
			</div>

			<!-- Submit -->
			<button type="submit" class="btn mt-3 btn-block" th:value="#{text.login.boton}">Login</button>
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" 
				th:value="${_csrf.token}" />  -->

		</form>
		<!--  
		<div class="text-center fs-6">
			<a href="#">Forget password?</a> or <a href="#">Sign up</a>
		</div>
		 -->
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>